@model PetGrooming.Models.ViewModels.UpdatePet


@{
    ViewBag.Title = "Update";
}

    <span class="heading">
        <p>
            <a href="/Pet/List"><span class="glyphicon glyphicon-chevron-left"></span></a>
            Update
        </p>

    </span>
  
<div class="container-sign-up">
    <div class="row">
        <form action="/Pet/Update/@Model.pet.PetID" method="POST">
            <span>Pet Name</span><input type="text" class="form-control" required value="@Model.pet.PetName" id="PetName" name="PetName" /><br />
            <span>Pet Color</span><input type="text" class="form-control" required value="@Model.pet.Color" id="PetColor" name="PetColor" /><br />
            <span>Pet Weight</span><input type="text" class="form-control" required value="@Model.pet.Weight" id="PetWeight" name="PetWeight" /><br />
            <span>Select Species</span>
            <select id="SpeciesID" type="text" class="form-control" name="SpeciesID">
                @{
                    foreach (var species in @Model.Species)
                    {
                        var selected = "";
                        if (species.SpeciesID == Model.pet.Species.SpeciesID)
                        {
                            selected = "selected";

                        }
                        <option value="@species.SpeciesID" @selected>@species.Name</option>
                    }
                }
            </select>
            <br/>
            <div>
                <span>Pet Notes</span>
                <textarea id="PetNotes" class="form-control" name="PetNotes">@Model.pet.Notes</textarea>
            </div><br/>
            <input type="submit" class="btn btn-info" value="update pet" />
        </form>
    </div>
</div>